<!DOCTYPE html>
<html>
  <head>
    <title>Devise OTP/U2F Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> alert-dismissible" role="alert">
              <%= value.to_s.html_safe %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
